@model HomeIndexViewModel

@{
    Layout = "_LayoutBase";

    //ViewData["Title"] = "Главная страница";
    ViewBag.Title = "Главная страница";
    ViewBag.PageAction = "Index";
}

@*@await Html.PartialAsync("Partial/_Slider");*@

<partial name="Partial/_Slider" />

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar" />
            </div>

            <div class="col-sm-9 padding-right">
                <div>
                    <div id="catalog-items-container">
                        <partial name="Partial/_FeaturesItems" model="@Model.Catalog" />
                        @*@await Html.PartialAsync("Partial/_FeaturesItems", Model.Products)*@
                    </div>
                    <div>
                        <paging page-model="@Model.Catalog.PageViewModel"
                                page-action="@ViewBag.PageAction"
                                page-url-SectionId="@Model.Catalog.SectionId"
                                page-url-BrandId="@Model.Catalog.BrandId">
                        </paging>
                    </div>
                </div>

                @await Html.PartialAsync("Partial/_CategoryTab");

                <partial name="Partial/_RecommendedItems" />
            </div>
        </div>
    </div>
</section>

@section Styles
{
    <!-- Стили -->
}

@section Scripts
{
    <script src="~/lib/jquery-loading-overlay/loadingoverlay.min.js"></script>
    <script src="~/js/Shop/ProductItems.js" asp-append-version="true"></script>
    <script>
        $(function() {
            ProductItems.init({
                getUrl: "@Url.Action("GetFilteredItems", "Catalog")"
            });
        })
    </script>
}
