@using WebStore.Domain.ViewModels.BreadCrumbs
@model IEnumerable<BreadCrumbViewModel>

<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        @if (Model.Count() <= 0)
        {
            <li class="active">Каталог</li>
        }
        else
        {
        <li><a asp-controller="Catalog" asp-action="Shop">Каталог</a></li>
        }

        @if (Model.Count() > 0)
        {
            var last = Model.LastOrDefault();
            foreach (var item in Model)
            {
                @if (item == last)
                {
                    <li>@item.Name</li>
                }
                else
                {
                    <li>
                        @switch (item.BreadCrumbType)
                        {
                            default: throw new ArgumentOutOfRangeException();
                            case BreadCrumbType.None: break;

                            case BreadCrumbType.Section:
                                <a asp-controller="Catalog" asp-action="Shop" asp-route-SectionId="@item.Id">@item.Name</a>
                                break;
                            case BreadCrumbType.Brand:
                                <a asp-controller="Catalog" asp-action="Shop" asp-route-BrandId="@item.Id">@item.Name</a>
                                break;
                            case BreadCrumbType.Product:
                                @item.Name
                                break;
                        }
                    </li>
                }
            }
        }
    </ol>
</div>
